<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,519},{66,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,218}}</string>
                <key>sourceSize</key>
                <string>{66,218}</string>
            </dict>
            <key>arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,299},{66,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,218}}</string>
                <key>sourceSize</key>
                <string>{66,218}</string>
            </dict>
            <key>arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,79},{66,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,218}}</string>
                <key>sourceSize</key>
                <string>{66,218}</string>
            </dict>
            <key>arrow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,739},{66,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,218}}</string>
                <key>sourceSize</key>
                <string>{66,218}</string>
            </dict>
            <key>loading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,670},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,580},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,490},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,850},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading05.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,760},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading06.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,400},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,310},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>loading10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,306}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>ui_esc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1123},{480,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,162}}</string>
                <key>sourceSize</key>
                <string>{480,162}</string>
            </dict>
            <key>ui_esc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,850},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>ui_esc_bottun01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>ui_esc_bottun01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1150},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>ui_esc_bottun02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1150},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>ui_esc_bottun02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>ui_pay00-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,959},{480,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,162}}</string>
                <key>sourceSize</key>
                <string>{480,162}</string>
            </dict>
            <key>ui_pay00-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{480,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,300}</string>
            </dict>
            <key>ui_shop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,670}}</string>
                <key>sourceSize</key>
                <string>{620,670}</string>
            </dict>
            <key>ui_shop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{550,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,85}}</string>
                <key>sourceSize</key>
                <string>{550,85}</string>
            </dict>
            <key>ui_shop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{550,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,85}}</string>
                <key>sourceSize</key>
                <string>{550,85}</string>
            </dict>
            <key>ui_shop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ec6a8dcb4eb29c7c64bccf37d640ae$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
